<script type="text/javascript">
$(function(){
    $.formValidator.initConfig({
        formID:"merchant_merchant_dialog_form",
        onError:function(msg){},
        onSuccess:merchantMerchantEditDialogFormSubmit,
        submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',
        inIframe:true
    });

    $("#merchant_merchantlist_edit_dialog_form_name").formValidator({
        onShow:"请输入商家名称",
        onFocus:"商家名称不能为空",
        onCorrect:"输入正确"
    }).inputValidator({
        min:1,
        empty:{leftEmpty:false,rightEmpty:false,emptyError:'商家名称不能有空格'},
        onError:"商家名称不能为空"
    });

    $("#merchant_merchantlist_edit_dialog_form_city").formValidator({
        onShow:"请选择城市",
        onFocus:"请选择城市",
        onCorrect:"选择正确"
    }).functionValidator({onError:"请选择城市",fun:function(val,elem){
        var cityId = $('#merchant_merchantlist_edit_dialog_form_city').combobox('getValue');
        if(cityId == ''){
            return false;
        }
        return true;
    }});

    $("#merchant_merchantlist_edit_dialog_form_amount").formValidator({
        onShow: "请填写优惠券金额",
        onFocus: "请填写优惠券金额",
        onCorrect: "填写正确"
    }).regexValidator({
        regExp: "^([0-9]+)$",
        onError: "优惠券金额只能填写数字"
    });
}); 
function merchantMerchantEditDialogFormSubmit(){
    $.post('<{:U('Merchant/editMerchantFrame', array('id'=>$info['id']))}>', $("#merchant_merchant_dialog_form").serialize(), function(res){
        if(!res.status){
            $.messager.alert('提示信息', res.info, 'error');
        }else{
            $.messager.alert('提示信息', res.info, 'info');
            $('#merchant_merchant_edit_dialog').dialog('close');
            merchantMerchantListRefresh();
        }
    })
}
</script>
<form id="merchant_merchant_dialog_form" style="padding:10px;">
<table width="100%">
    <tr>
        <td width="80">商家名称：</td>
        <td width="160"><input id="merchant_merchantlist_edit_dialog_form_name" name="info[merchant_name]" type="text" value="<{$info.merchant_name}>" style="width:160px;height:22px" /></td>
        <td><div id="merchant_merchantlist_edit_dialog_form_nameTip"></div></td>
    </tr>
    <tr>
        <td>所在城市：</td>
        <td><select id="merchant_merchantlist_edit_dialog_form_city" name="info[city_id]" style="width:160px;"></select></td>
        <td><div id="merchant_merchantlist_edit_dialog_form_cityTip"></div></td>
    </tr>
    <tr>
        <td>电话：</td>
        <td colspan="2"><input name="info[telephone]" type="text" value="<{$info.telephone}>" style="width:160px;height:22px" /></td>
    </tr>
    <tr>
        <td>地址：</td>
        <td colspan="2"><input name="info[address]" type="text" value="<{$info.address}>" style="width:350px;height:22px" /></td>
    </tr>
    <tr>
        <td>代理品牌：</td>
        <td colspan="2"><select id="merchant_merchantlist_edit_dialog_form_brand" name="info[brand_ids][]" multiple style="width:350px;"></select></td>
    </tr>
    <tr>
        <td>到达方式：</td>
        <td colspan="2"><textarea name="info[arrival_way]" style="width:80%;height:100px"><{$info.arrival_way}></textarea></td>
    </tr>
    <tr>
        <td>审核：</td>
        <td><label><input type="checkbox" name="info[status]" value="1" <eq name="info.status" value="1">checked</eq> /> 审核通过</label></td>
    </tr>
</table>
</form>

<script type="text/javascript">
$(function(){
    $('#merchant_merchantlist_edit_dialog_form_city').combobox({
        'url': '<{:U('City/getEasyCity')}>',
        'valueField': 'id',
        'textField': 'text',
        'editable': false,
        onLoadSuccess: function (data) {
            $('#merchant_merchantlist_edit_dialog_form_city').combobox('setValue', [<{$info.city_id}>]);
        }
    });
    $('#merchant_merchantlist_edit_dialog_form_brand').combotree({
        'url': '<{:U('Brand/getEasyBrand')}>',
        'valueField': 'id',
        'textField': 'text',
        'editable': false,
        onLoadSuccess: function (data) {
            $('#merchant_merchantlist_edit_dialog_form_brand').combotree('setValues', [<{$info.brand_ids}>]);
        }
    });
});
</script>
