<taglib name="Admin\TagLib\EasyUI" />

<easyui:propertygrid options="propertygrid.options" />

<script type="text/javascript">
var setting_site_propertygrid_id = 'setting_site_propertygrid';
var setting_site_propertygrid_toolbar = [
	{ text: '保存', iconCls: 'icons-other-disk', handler: settingSiteSave },
	{ text: '刷新', iconCls: 'icons-arrow-arrow_refresh', handler: settingSiteRefresh }
];
//保存
function settingSiteSave(){
	var data = [];
	var rows = $('#'+setting_site_propertygrid_id).propertygrid('getChanges');
	for(var i=0; i<rows.length; i++){
		data.push({'key': rows[i]['key'], 'value': rows[i]['value']});
	}
	$.post('<{:U('Setting/site?dosubmit=1')}>', {data: data}, function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$.messager.alert('提示信息', res.info, 'info');
		}
	}, 'json');
}
//刷新
function settingSiteRefresh(){
	$('#'+setting_site_propertygrid_id).propertygrid('reload');
}
</script>
