<script type="text/javascript">
$(function(){
    $('#category_category_edit_dialog_form_parentid').combotree({url:'<{:U('Category/getEasyCategory')}>'});
    $.formValidator.initConfig({formID:"category_category_edit_dialog_form",onError:function(msg){/*$.messager.alert('错误提示', msg, 'error');*/},onSuccess:categoryCategoryAddDialogFormSubmit,submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',inIframe:true});
    $("#category_category_edit_dialog_form_parentid").formValidator({onShow:"请选择上级栏目",onFocus:"上级栏目不能为空"}).inputValidator({min:0,type:'value',onError:"上级栏目不能为空"}).defaultPassed();
    $("#category_category_edit_dialog_form_catname").formValidator({onShow:"请输入栏目名称",onFocus:"栏目名称不能为空",onCorrect:"输入正确"}).inputValidator({min:1,empty:{leftEmpty:false,rightEmpty:false,emptyError:'栏目名称不能有空格'},onError:"栏目名称不能为空"});
})
function categoryCategoryAddDialogFormSubmit(){
    $.post('<{:U('Category/categoryEdit?id='.$info['id'])}>', $("#category_category_edit_dialog_form").serialize(), function(res){
        if(!res.status){
            $.messager.alert('提示信息', res.info, 'error');
        }else{
            $.messager.alert('提示信息', res.info, 'info');
            $('#category_category_edit_dialog').dialog('close');
            categoryCategoryListRefresh();
        }
    })
}
</script>
<form id="category_category_edit_dialog_form">
<table width="100%">
    <tr>
        <td width="80">上级栏目：</td>
        <td><input id="category_category_edit_dialog_form_parentid" name="info[parent_id]" class="easyui-combotree" value="<{$info.parent_id|default=0}>" style="width:180px;height:26px" /></td>
        <td><div id="category_category_edit_dialog_form_parentidTip"></div></td>
    </tr>
    <tr>
        <td>栏目名称：</td>
        <td><input id="category_category_edit_dialog_form_catname" name="info[category_name]" value="<{$info.category_name}>" type="text" style="width:178px;height:22px" /></td>
        <td><div id="category_category_edit_dialog_form_catnameTip"></div></td>
    </tr>
    <tr>
        <td>描述：</td>
        <td colspan="2"><textarea name="info[description]" style="width:80%;height:60px"><{$info.description}></textarea></td>
    </tr>
    <tr>
        <td>是否启用：</td>
        <td colspan="2">
            <label><input name="info[status]" value="1" type="radio" <eq name="info.status" value="1">checked</eq> />是</label>
            <label><input name="info[status]" value="0" type="radio" <eq name="info.status" value="0">checked</eq> />否</label>
        </td>
    </tr>
</table>
</form>
