<taglib name="Admin\TagLib\EasyUI" />

<easyui:datagrid options="datagrid.options" fields="datagrid.fields" />

<div id="system_loglist_datagrid_toolbar" style="padding:5px;height:auto">
	<form>
		用户名: 
		<select name="search[username]" class="easyui-combobox" panelHeight="auto" style="width:100px">
			<option value="">全部用户</option>
			<foreach name="list.admin" item="username">
				<option value="<{$username}>"><{$username}></option>
			</foreach>
		</select>
		模块: 
		<select name="search[controller]" class="easyui-combobox" panelHeight="auto" style="width:100px">
			<option value="">所有模块</option>
			<foreach name="list.module" item="module">
				<option value="<{$module}>"><{$module}></option>
			</foreach>
		</select>
		时 间: <input name="search[begin]" class="easyui-datebox" style="width:100px">
		至: <input name="search[end]" class="easyui-datebox" style="width:100px">
		
		<a href="javascript:;" onclick="systemLogSearch(this);" class="easyui-linkbutton" iconCls="icons-map-magnifier">搜索</a>
		<a href="javascript:;" onclick="systemLogDelete();" class="easyui-linkbutton" iconCls="icons-other-delete">删除一月前数据</a>
	</form>
</div>

<!-- 查看详细信息 -->
<div id="system_loglist_detail_dialog" class="easyui-dialog word-wrap" title="详细参数" data-options="modal:true,closed:true,resizable:true,maximizable:true,iconCls:'icons-application-application_view_detail',buttons:[{text:'关闭',iconCls:'icons-arrow-cross',handler:function(){$('#system_loglist_detail_dialog').dialog('close');}}]" style="width:400px;height:260px;padding:5px"></div>

<script type="text/javascript">
var system_loglist_datagrid_id = 'system_loglist_datagrid';
//搜索
function systemLogSearch(that){
	var queryParams = $('#'+system_loglist_datagrid_id).datagrid('options').queryParams;
	$.each($(that).parent('form').serializeArray(), function() {
		queryParams[this['name']] = this['value'];
	});
	$('#'+system_loglist_datagrid_id).datagrid('reload');
}
//删除日志
function systemLogDelete(){
	$.post('<{:U('System/logDelete')}>', {week: 4}, function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$('#'+system_loglist_datagrid_id).datagrid('reload');
			$.messager.alert('提示信息', res.info, 'info');
		}
	}, 'json');
}
//参数格式化
function systemLogViewFormatter(val){
	return '<a href="javascript:;" onclick="systemLogDetailDialog(this);">'+val+'</a>';
}
//查看详细信息
function systemLogDetailDialog(that){
	var id = 'system_loglist_detail_dialog';
	$('#'+id).dialog({content: $(that).html()});
	$('#'+id).dialog('open');
}
</script>