<script type="text/javascript">
$(function(){
	$('#system_menu_form_add_parentid').combotree({url:'<{:U('System/public_menuSelectTree')}>'}); 
	$.formValidator.initConfig({formID:"system_menu_add_dialog_form",onError:function(msg){/*$.messager.alert('错误提示', msg, 'error');*/},onSuccess:systemMenuAddDialogFormSubmit,submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',inIframe:true});
	$("#system_menu_form_add_parentid").formValidator({onShow:"请选择上级菜单",onFocus:"上级菜单不能为空"}).inputValidator({min:0,type:'value',onError:"上级菜单不能为空"}).defaultPassed();
	$("#system_menu_form_add_name").formValidator({onShow:"请输入菜单名称",onFocus:"菜单名称不能为空",onCorrect:"输入正确"}).inputValidator({min:1,empty:{leftEmpty:false,rightEmpty:false,emptyError:'菜单名称不能有空格'},onError:"菜单名称不能为空"}).ajaxValidator({
		type : "post",
		url : "<{:U('System/public_menuNameCheck')}>",
		data : {name:function(){return $("#system_menu_form_add_name").val()} },
		datatype : "json",
		async:'false',
		success : function(res){
			var json = $.parseJSON(res);
            return json.status == 1 ? false : true;
		},
		onError : "菜单名称已存在",
		onWait : "请稍候..."
	});
	$("#system_menu_form_add_c").formValidator({onShow:"请输入模块名",onFocus:"模块名不能少于2个字符"}).inputValidator({min:2,empty:{leftEmpty:false,rightEmpty:false,emptyError:'模块名不能有空格'},onError:"模块名不能少于2个字符"}).regexValidator({
		regExp:"^([A-Z][a-z1-9]+)+$",
		param : "",
		dataType:"string",
		onError:"必须为首字母大写的驼峰法命名"
	});
	$("#system_menu_form_add_a").formValidator({onShow:"请输入方法名",onFocus:"方法名不能少于2个字符"}).inputValidator({min:2,empty:{leftEmpty:false,rightEmpty:false,emptyError:'方法名不能有空格'},onError:"方法名不能少于2个字符"}).regexValidator({
		regExp:"^[a-z][a-z1-9_]+([A-Z][a-z1-9]+)*$",
		param : "",
		dataType:"string",
		onError:"必须为首字母小写的驼峰法命名"
     });
})
function systemMenuAddDialogFormSubmit(){
	$.post('<{:U('System/menuAdd')}>', $("#system_menu_add_dialog_form").serialize(), function(res){
		if(!res.status){
			$.messager.alert('提示信息', res.info, 'error');
		}else{
			$.messager.alert('提示信息', res.info, 'info');
			$('#system_menu_add_dialog').dialog('close');
			systemMenuRefresh();
		}
	})
}
</script>
<form id="system_menu_add_dialog_form">
<table>
	<tr>
		<td width="100">上级菜单：</td>
		<td><input id="system_menu_form_add_parentid" name="info[parentid]" class="easyui-combotree" value="<{$Think.get.parentid|default=0}>" style="width:180px;height:26px" /></td>
		<td><div id="system_menu_form_add_parentidTip"></div></td>
	</tr>
	<tr>
		<td>菜单名称：</td>
		<td><input id="system_menu_form_add_name" name="info[name]" type="text" style="width:178px;height:22px" /></td>
		<td><div id="system_menu_form_add_nameTip"></div></td>
	</tr>
	<tr>
		<td>模块名：</td>
		<td><input id="system_menu_form_add_c" name="info[c]" type="text" style="width:178px;height:22px" /></td>
		<td><div id="system_menu_form_add_cTip"></div></td>
	</tr>
	<tr>
		<td>方法名：</td>
		<td><input id="system_menu_form_add_a" name="info[a]" type="text" style="width:178px;height:22px" /></td>
		<td><div id="system_menu_form_add_aTip"></div></td>
	</tr>
	<tr>
		<td>附加参数：</td>
		<td><input class="input_show" name="info[data]" type="text" style="width:178px;height:22px" /></td>
		<td></td>
	</tr>
	<tr>
		<td>是否显示菜单：</td>
		<td colspan="2">
			<label><input name="info[display]" value="1" type="radio" checked />是</label>
			<label><input name="info[display]" value="0" type="radio" />否</label>
		</td>
	</tr>
</table>
</form>
