<script type="text/javascript">
$(function(){
    $.formValidator.initConfig({
        formID:"coupon_coupon_dialog_form",
        onError:function(msg){},
        onSuccess:couponCouponEditDialogFormSubmit,
        submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',
        inIframe:true
    });

    $("#coupon_couponlist_edit_dialog_form_city").formValidator({
        onShow:"请选择城市",
        onFocus:"请选择城市",
        onCorrect:"选择正确"
    }).functionValidator({onError:"请选择城市",fun:function(val,elem){
        var cityId = $('#coupon_couponlist_edit_dialog_form_city').combobox('getValue');
        if(cityId == ''){
            return false;
        }
        return true;
    }});

    $("#coupon_couponlist_edit_dialog_form_brand").formValidator({
        onShow:"请选择品牌",
        onFocus:"请选择品牌",
        onCorrect:"选择正确"
    }).functionValidator({onError:"请选择品牌",fun:function(val,elem){
        var brandId = $('#coupon_couponlist_edit_dialog_form_brand').combobox('getValue');
        if(brandId == ''){
            return false;
        }
        return true;
    }});

    $("#coupon_couponlist_edit_dialog_form_merchant").formValidator({
        onShow:"请选择制造商",
        onFocus:"请选择制造商",
        onCorrect:"选择正确"
    }).functionValidator({fun:function(val,elem){
        var merchantId = $('#coupon_couponlist_edit_dialog_form_merchant').combobox('getValue');
        if(merchantId == ''){
            return false;
        }
        return true;
    },onError:"请选择制造商"});

    $("#coupon_couponlist_edit_dialog_form_category").formValidator({
        onShow:"请选择建材类别",
        onFocus:"请选择建材类别",
        onCorrect:"选择正确"
    }).functionValidator({fun:function(val,elem){
        var bmType = $('#coupon_couponlist_edit_dialog_form_category').combobox('getValue');
        if(bmType == ''){
            return false;
        }
        return true;
    },onError:"请选择建材类别"});

    $("#coupon_couponlist_edit_dialog_form_coupontype").formValidator({
        onShow:"请选择优惠券类别",
        onFocus:"请选择优惠券类别",
        onCorrect:"选择正确"
    }).functionValidator({fun:function(val,elem){
        var couponType = $('#coupon_couponlist_edit_dialog_form_coupontype').combobox('getValue');
        if(couponType == ''){
            return false;
        }
        return true;
    },onError:"请选择优惠券类别"});

    $("#coupon_couponlist_edit_dialog_form_amount").formValidator({
        onShow: "请填写优惠券金额",
        onFocus: "请填写优惠券金额",
        onCorrect: "填写正确"
    }).regexValidator({
        regExp: "^([0-9]+)$",
        onError: "优惠券金额只能填写数字"
    });
}); 
function couponCouponEditDialogFormSubmit(){
    $.post('<{:U('Coupon/editCouponFrame', array('id'=>$info['id']))}>', $("#coupon_coupon_dialog_form").serialize(), function(res){
        if(!res.status){
            $.messager.alert('提示信息', res.info, 'error');
        }else{
            $.messager.alert('提示信息', res.info, 'info');
            $('#coupon_coupon_edit_dialog').dialog('close');
            couponCouponListRefresh();
        }
    })
}
</script>
<form id="coupon_coupon_dialog_form" style="padding:10px;">
<table width="100%">
    <tr>
        <td width="80">城市：</td>
        <td width="160"><select id="coupon_couponlist_edit_dialog_form_city" name="info[city_id]" style="width:160px;"></select></td>
        <td><div id="coupon_couponlist_edit_dialog_form_cityTip"></div></td>
    </tr>
    <tr>
        <td>品牌：</td>
        <td><select id="coupon_couponlist_edit_dialog_form_brand" name="info[brand_id]" style="width:160px;"></select></td>
        <td><div id="coupon_couponlist_edit_dialog_form_brandTip"></div></td>
    </tr>
    <tr>
        <td>商家：</td>
        <td><select id="coupon_couponlist_edit_dialog_form_merchant" name="info[merchant_id]" style="width:160px;"></select></td>
        <td><div id="coupon_couponlist_edit_dialog_form_merchantTip"></div></td>
    </tr>
    <tr>
        <td>优惠券类别：</td>
        <td><select id="coupon_couponlist_edit_dialog_form_coupontype" name="info[coupon_type]" style="width:160px;"></select></td>
        <td><div id="coupon_couponlist_edit_dialog_form_coupontypeTip"></div></td>
    </tr>
    <tr>
        <td>金额：</td>
        <td><input id="coupon_couponlist_edit_dialog_form_amount" name="info[amount]" type="text" value="<{$info.amount}>" style="width:160px;height:22px" /></td>
        <td><div id="coupon_couponlist_edit_dialog_form_amountTip"></div></td>
    </tr>
    <tr>
        <td>建材类别：</td>
        <td><select id="coupon_couponlist_edit_dialog_form_category" name="info[category_id]" style="width:160px;"></select></td>
        <td><div id="coupon_couponlist_edit_dialog_form_categoryTip"></div></td>
    </tr>
    <tr>
        <td>使用期限：</td>
        <td><input id="coupon_couponlist_edit_dialog_form_expire" name="info[expire_time]" class="easyui-datebox" value="<{$info.expire_time}>" style="width:160px;height:22px"></td>
        <td><div id="coupon_couponlist_edit_dialog_form_expireTip"></div></td>
    </tr>
    <tr>
        <td>使用条件：</td>
        <td colspan="2"><textarea name="info[introduce]" style="width:80%;height:100px"><{$info.introduce}></textarea></td>
    </tr>
    <tr>
        <td>是否可用：</td>
        <td><label><input type="checkbox" name="info[status]" value="1" <eq name="info.status" value="1">checked</eq> /> 正在发行</label></td>
    </tr>
    <tr>
        <td>宣传图片：</td>
        <td colspan="2">
            <div class="uploadBtnContainer"><span id="uploadBtnHolder"></span></div>
            <div class="uploadResultContainer" id="uploadProgressPhoto">
                <?php if(!empty($info['photo'])){?>
                <div class="progressWrapper">
                    <div class="progressContainer">
                        <span class="progressPhoto"><img src="http://img.51tz.com/<?php echo $info['photo'];?>"></span>
                        <a class="progressDel" href="javascript:;" style="display: inline-block;">删除</a>
                    </div>
                </div>
                <?php }?>
            </div>
            <input type="hidden" id="coupon_couponlist_edit_dialog_form_photo" name="info[photo]" value="<{$info.photo}>" />
        </td>
    </tr>
</table>
</form>
<script type="text/javascript">
$(function(){
    $('#coupon_couponlist_edit_dialog_form_city').combobox({
        'url': '<{:U('City/getEasyCity')}>',
        'valueField': 'id',
        'textField': 'text',
        'editable': false,
        onLoadSuccess: function (data) {
            $('#coupon_couponlist_edit_dialog_form_city').combobox('setValue', [<{$info.city_id}>]);
        }
    });
    $('#coupon_couponlist_edit_dialog_form_brand').combobox({
        'url': '<{:U('Brand/getEasyBrand')}>',
        'valueField': 'id',
        'textField': 'text',
        'editable': false,
        onLoadSuccess: function (data) {
            $('#coupon_couponlist_edit_dialog_form_brand').combobox('setValue', [<{$info.brand_id}>]);
        }
    });
    $('#coupon_couponlist_edit_dialog_form_merchant').combobox({
        'url': '<{:U('Merchant/getEasyMerchant')}>',
        'valueField': 'id',
        'textField': 'text',
        'editable': false,
        onLoadSuccess: function (data) {
            $('#coupon_couponlist_edit_dialog_form_merchant').combobox('setValue', [<{$info.merchant_id}>]);
        }
    });
    $('#coupon_couponlist_edit_dialog_form_coupontype').combobox({
        'url': '<{:U('Dict/getEasyDict')}>&var=coupon_type',
        'valueField': 'id',
        'textField': 'text',
        'editable': false,
        onLoadSuccess: function (data) {
            $('#coupon_couponlist_edit_dialog_form_coupontype').combobox('setValue', [<{$info.coupon_type}>]);
        }
    });
    $('#coupon_couponlist_edit_dialog_form_category').combobox({
        'url': '<{:U('Category/getEasyCategory')}>',
        'valueField': 'id',
        'textField': 'text',
        'editable': false,
        onLoadSuccess: function (data) {
            $('#coupon_couponlist_edit_dialog_form_category').combobox('setValue', [<{$info.category_id}>]);
        }
    });
    var photoSwfu = new imageUploader("uploadProgressPhoto", "coupon_couponlist_edit_dialog_form_photo", "uploadBtnHolder", {});
    $('.progressDel').bind('click', function(){$(this).parent().parent().remove();});
});
</script>
