<script type="text/javascript" src="__STATIC__/js/formvalidator/formValidator.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/formvalidator/formValidatorRegex.js"></script>
<script type="text/javascript">initConfig_setting.theme = 'App';</script>
