<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.json.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__STATIC__/js/swfupload/swfupload.js"></script>
<script type="text/javascript" src="__STATIC__/js/swfupload/handlers.js"></script>
<include file="Common:theme"/>
<style>
textarea{font-size:12px;}
</style>
