<script type="text/javascript">
$(function(){
    $.formValidator.initConfig({
        formID:"brand_brand_dialog_form",
        onError:function(msg){},
        onSuccess:brandBrandEditDialogFormSubmit,
        submitAfterAjaxPrompt:'有数据正在异步验证，请稍等...',
        inIframe:true
    });
    
    $("#brand_brandlist_edit_dialog_form_name").formValidator({
        onShow:"请输入品牌名称",
        onFocus:"品牌名称不能为空",
        onCorrect:"输入正确"
    }).inputValidator({
        min:1,
        empty:{leftEmpty:false,rightEmpty:false,emptyError:'品牌名称不能有空格'},
        onError:"品牌名称不能为空"
    });
}); 
function brandBrandEditDialogFormSubmit(){
    $.post('<{:U('Brand/editBrandFrame', array('id'=>$info['id']))}>', $("#brand_brand_dialog_form").serialize(), function(res){
        if(!res.status){
            $.messager.alert('提示信息', res.info, 'error');
        }else{
            $.messager.alert('提示信息', res.info, 'info');
            $('#brand_brand_edit_dialog').dialog('close');
            brandBrandListRefresh();
        }
    })
}
</script>
<form id="brand_brand_dialog_form" style="padding:10px;">
<table width="100%">
    <tr>
        <td>品牌名称：</td>
        <td><input id="brand_brandlist_edit_dialog_form_name" name="info[brand_name]" type="text" value="<{$info.brand_name}>" style="width:160px;height:22px" /></td>
        <td><div id="brand_brandlist_edit_dialog_form_nameTip"></div></td>
    </tr>
    <tr>
        <td>建材类别：</td>
        <td colspan="2"><select id="brand_brandlist_edit_dialog_form_category" name="info[category_ids][]" multiple style="width:330px;"></select></td>
    </tr>
    <tr>
        <td>介绍：</td>
        <td colspan="2"><textarea name="info[introduce]" style="width:80%;height:100px"><{$info.introduce}></textarea></td>
    </tr>
    <tr>
        <td>审核：</td>
        <td><label><input type="checkbox" name="info[status]" value="1" <eq name="info.status" value="1">checked</eq> /> 审核通过</label></td>
    </tr>
    <tr>
        <td>品牌logo：</td>
        <td colspan="2">
            <div class="uploadBtnContainer"><span id="uploadBtnLogo"></span></div>
            <div class="uploadResultContainer" id="uploadProgressLogo">
                <?php if(!empty($info['logo'])){?>
                <div class="progressWrapper">
                    <div class="progressContainer">
                        <span class="progressPhoto"><img src="http://img.51tz.com/<?php echo $info['logo'];?>"></span>
                        <a class="progressDel" href="javascript:;" style="display: inline-block;">删除</a>
                    </div>
                </div>
                <?php }?>
            </div>
            <input type="hidden" id="brand_brandlist_edit_dialog_form_logo" name="info[logo]" value="<{$info.logo}>" />
        </td>
    </tr>
    <tr>
        <td>品牌头图：</td>
        <td colspan="2">
            <div class="uploadBtnContainer"><span id="uploadBtnBanner"></span></div>
            <div class="uploadResultContainer" id="uploadProgressBanner">
                <?php if(!empty($info['banner'])){?>
                <div class="progressWrapper">
                    <div class="progressContainer">
                        <span class="progressPhoto"><img src="http://img.51tz.com/<?php echo $info['banner'];?>"></span>
                        <a class="progressDel" href="javascript:;" style="display: inline-block;">删除</a>
                    </div>
                </div>
                <?php }?>
            </div>
            <input type="hidden" id="brand_brandlist_edit_dialog_form_banner" name="info[banner]" value="<{$info.banner}>" />
        </td>
    </tr>
    <tr>
        <td>产品宣传：</td>
        <td colspan="2">
            <div class="uploadBtnContainer"><span id="uploadBtnAlbum"></span></div>
            <div class="uploadResultContainer" id="uploadProgressAlbum">
                <?php if(!empty($info['album'])){
                $albums = explode(',', $info['album']);
                foreach($albums as $album){
                ?>
                <div class="progressWrapper">
                    <div class="progressContainer">
                        <span class="progressPhoto"><img src="http://img.51tz.com/<?php echo $album;?>"></span>
                        <a class="progressDel" href="javascript:;" style="display: inline-block;">删除</a>
                    </div>
                    <input type="hidden" name="info[album][]" value="<?php echo $album;?>" />
                </div>
                <?php }}?>
            </div>
        </td>
    </tr>
</table>
</form>
<script type="text/javascript">
$(function(){
    $('#brand_brandlist_edit_dialog_form_category').combotree({
        'url': '<{:U('Category/getEasyCategory')}>',
        'valueField': 'id',
        'textField': 'text',
        'editable': false,
        onLoadSuccess: function (data) {
            $('#brand_brandlist_edit_dialog_form_category').combotree('setValues', [<{$info.category_ids}>]);
        }
    });
    var logoSwfu = new imageUploader("uploadProgressLogo", "brand_brandlist_edit_dialog_form_logo", 'uploadBtnLogo', {});
    var bannerSwfu = new imageUploader("uploadProgressBanner", "brand_brandlist_edit_dialog_form_banner", 'uploadBtnBanner', {});
    var albumSwfu = new imageUploader("uploadProgressAlbum", "info[album][]", 'uploadBtnAlbum', {});
    $('.progressDel').bind('click', function(){$(this).parent().parent().remove();});
});
</script>
