<taglib name="Admin\TagLib\EasyUI" />

<easyui:datagrid options="datagrid.options" fields="datagrid.fields" />

<div id="city_citylist_datagrid_toolbar" style="padding:1px;height:auto">
    <form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px">
        城市名称: <input type="text" name="search[city_name]" style="width:100px;padding:2px"/>
        <a href="javascript:;" onclick="cityCityListDatagridSearch(this)" class="easyui-linkbutton" iconCls="icons-map-magnifier">搜索</a>
    </form>
    <div>
        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-arrow-add'" onclick="addCity()">添加城市</a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-other-delete'" onclick="cityDelete()">删除所选</a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-arrow-arrow_up'" onclick="cityDisplayOrder()">排序设置</a>
    </div>
</div>

<!-- 添加城市 -->
<div id="city_city_add_dialog" class="easyui-dialog" title="添加城市" data-options="modal:true,closed:true,iconCls:'icons-application-application_add',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#city_city_add_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#city_city_add_dialog').dialog('close');}}]" style="width:500px;height:300px;"></div>

<!-- 域设置 -->
<div id="city_city_domain_dialog" class="easyui-dialog" title="设置城市域名" data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#city_city_domain_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#city_city_domain_dialog').dialog('close');}}]" style="width:500px;height:300px;"></div>

<!-- 城市设置 -->
<div id="city_city_edit_dialog" class="easyui-dialog" title="编辑城市" data-options="modal:true,closed:true,iconCls:'icons-application-application_edit',buttons:[{text:'确定',iconCls:'icons-other-tick',handler:function(){$('#city_city_edit_dialog_form').submit();}},{text:'取消',iconCls:'icons-arrow-cross',handler:function(){$('#city_city_edit_dialog').dialog('close');}}]" style="width:550px;height:370px;"></div>

<script type="text/javascript">
var city_citylist_datagrid_id = 'city_citylist_datagrid';
//排序格式化
function displayOrderFormat(val, arr){
    return '<input class="city_gridlist_order_input" type="text" name="order['+arr['id']+']" value="'+ val +'" size="2" style="text-align:center">';
}
//状态格式化
function openStatusFormat(val){
    return val == 1 ? '<font color="green">已开通</font>' : '<font color="red">未开通</font>';
}
//操作格式化
function operateFormat(id){
    var btn = [];
    btn.push('<a href="javascript:;" onclick="cityDomain('+id+')">域设置</a>');
    btn.push('<a href="javascript:;" onclick="cityEdit('+id+')">站点设置</a>');
    btn.push('<a href="javascript:;" onclick="CityDelete('+id+')">删除</a>');
    return btn.join(' | ');
}


//搜索
function cityCityListDatagridSearch(that){
    var queryParams = $('#'+city_citylist_datagrid_id).datagrid('options').queryParams;
    $.each($(that).parent('form').serializeArray(), function() {
        queryParams[this['name']] = this['value'];
    });
    $('#'+city_citylist_datagrid_id).datagrid('reload');
}
//添加
function addCity(){
    var url = '<{:U('City/addCityFrame')}>';
    $('#city_city_add_dialog').dialog({href:url});
    $('#city_city_add_dialog').dialog('open');
}
//站点域名
function cityDomain(id){
    if(typeof(id) !== 'number'){
        $.messager.alert('提示信息', '未选择数据', 'error');
        return false;
    }
    var url = "<{:U('City/editDomainFrame')}>";
    url += url.indexOf('?') != -1 ? '&id='+id : '?id='+id;

    $('#city_city_domain_dialog').dialog({href:url});
    $('#city_city_domain_dialog').dialog('open');
}
//编辑
function cityEdit(id){
    if(typeof(id) !== 'number'){
        $.messager.alert('提示信息', '未选择数据', 'error');
        return false;
    }
    var url = "<{:U('City/editCityFrame')}>";
    url += url.indexOf('?') != -1 ? '&id='+id : '?id='+id;

    $('#city_city_edit_dialog').dialog({href:url});
    $('#city_city_edit_dialog').dialog('open');
}
//删除
function cityDelete(id){
    var ids = [];
    if(!id){
        var obj = $('#'+city_citylist_datagrid_id).datagrid('getSelections');
        if(obj) for(var i = 0; i < obj.length; i++) ids.push(obj[i].id);
    }else{
        if(typeof(id) == 'number') ids.push(id);
    }
    if(ids.length == 0){
        $.messager.alert('提示信息', '未选择数据', 'error');
        return false;
    }

    $.messager.confirm('提示信息', '确定要删除吗？', function(result){
        if(!result) return false;
        $.post('<{:U('City/cityDelete')}>', {ids: ids}, function(res){
            if(!res.status){
                $.messager.alert('提示信息', res.info, 'error');
            }else{
                $.messager.alert('提示信息', res.info, 'info');
                $('#'+city_citylist_datagrid_id).datagrid('reload');
            }
        }, 'json');
    });
}
//排序
function cityDisplayOrder(){
    $.post('<{:U('City/displayOrder')}>', $('.city_gridlist_order_input').serialize(), function(res){
        if(!res.status){
            $.messager.alert('提示信息', res.info, 'error');
        }else{
            $.messager.alert('提示信息', res.info, 'info');
            $('#'+city_citylist_datagrid_id).datagrid('reload');
        }
    }, 'json');
}
//刷新
function cityCityListRefresh(){
    $('#'+city_citylist_datagrid_id).datagrid('reload');
}
</script>
