.uploadBtnContainer{display:inline-block;border:solid 1px #7FAAFF;background-color:#C5D9FF;}

.uploadResultContainer{margin:5px 0;}
.progressWrapper{width:86px;float:left;height:auto;margin-right:3px;min-height:90px;max-height:120px;overflow:hidden}
.progressContainer {background-color:#B9C8D2;overflow: hidden;border-bottom:1px solid #EFF5FB;word-break:break-all;word-wrap:break-word;padding:3px;margin:0 0 2px;}
.progressName {font-size:12px;color:#555;text-align:left;word-break:break-all;word-wrap:break-word;margin-right:5px;}
.progressPhoto{clear:both;display:block;}
.progressPhoto img{width:80px;max-height:80px;max-width:80px;}

.progressBarInProgress,
.progressBarError {height:7px;line-height:7px;width:100px;display:inline-block;border:1px solid #4E86C4;overflow:hidden;margin-right:5px;}
.progressBarProgress{width:0%;background:#89B5E9;height:10px;display:block}
.progressBarError .progressBarProgress{width:100%;background:#f00;}
.progressBarStatus {text-align: left;white-space: nowrap;color:#808080;margin-right:5px;}
.progressCancel{font-size:12px;display:inline-block;height:14px;color:#1E5494;margin-right:5px;}
.progressDel{font-size:12px;display:inline-block;height:14px;color:#1E5494;}
